{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h2>ToDo</h2>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div class="card shadow update_card mx-auto">
      <h5 class="card-title text-center">Task Update</h5>
  <div class="card-body">
       <form method="POST" class="update_form">
        {% csrf_token %}
        {{form.as_p}}
       <button class="btn btn-success update_add_btn" type="submit">comfirm</button>
   </form>
  </div>
</div>



{% endblock %}