
{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h2>ToDo</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container home_todo">
    <div class="row">
        <div class="col-md-6">
            <h3 class="para-h3">Add Task</h3>
            <form method="POST" class="p-3 shadow">
              {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task_name" placeholder="Enter the Task">
                    <input type="text" class="form-control" name="task_priority" placeholder="Enter the task priority">
                    <input type="date" class="form-control" name="task_date" placeholder="Enter the date">
                    <input type="text" class="form-control" name="task_description" placeholder="Enter the task details">
                    <input class="btn btn-info" type="submit">
                </div>
          </form>
        </div>
        <div class="col-md-6">
            <h3 class="para-h3">Task to be completed</h3>
           {% for i in task_obj01 %}
             <div class="card shadow card_home">
               <a class="todo_home_link" href="{% url 'todoapp01:cbvdetail' i.id %}">
                 <div class="card-body card_home_body">
                     <h5 class="card-title">{{i.taskName}}</h5>
                     <p class="card-text">{{i.taskPriority}}</p>
                     <p class="card-text">{{i.taskDate}}</p>
                     <a href="{% url 'todoapp01:delete' i.id %}" class="btn btn-danger home_add_btn">Done</a>
                     <a href="{% url 'todoapp01:update' i.id %}" class="btn btn-success home_add_btn">Update</a>
                 </div>
               </a>
             </div><br>
           {% endfor %}
        </div>
    </div>
</div>

{% endblock %}