body{
   background-image: linear-gradient(100deg, #f5f7fa 10%, #c3cfe2 100%);
}

/**************
    home
**************/

.banner{
    background-image: linear-gradient(100deg, #FBD786 10%, #f7797d 100%);
    width: 100%;
    height: 150px;
    color: white;
    margin-bottom: 40px;
}
.banner-text{
    color: #000000;
    text-align: center;
}
.home_todo {
    background-image: linear-gradient(100deg, #FBD786 10%, #f7797d 100%);
}
.card-body{
    text-align: center;
}
.p-3{
    background-color: white;
    margin-top: 50px;
}
.para-h3{
    color: #000000;
}