body{
   background-image: linear-gradient(100deg, #f5f7fa 10%, #c3cfe2 100%);
}

/**************
    home
**************/

.banner{
    background-image: linear-gradient(100deg, #FBD786 10%, #f7797d 100%);
    width: 100%;
    height: 150px;
    color: white;
    margin-bottom: 40px;
}
.banner-text{
    color: #000000;
    text-align: center;
}
.home_todo {
    background-image: linear-gradient(100deg, #FBD786 10%, #f7797d 100%);
}
.card_home_body{
    text-align: center;
    background-image: linear-gradient(100deg, #f5f7fa 10%, #c3cfe2 100%);
}
.home_add_btn {
    margin-top: 5px;
}
.card_home {
    background-image: linear-gradient(100deg, #f5f7fa 10%, #c3cfe2 100%);
    height: 200px;
}
.p-3{
    background-color: white;
    margin-top: 20px;
    background-image: linear-gradient(300deg, #f5f7fa 10%, #c3cfe2 100%);
}
.para-h3{
    color: #000000;
    text-align: center;
}
.todo_home_link {
   text-decoration: none;
   color: black;
}
.todo_home_link:hover {
  background-color: green;
  color: black;
  text-decoration: none;
}

/**************
    detail
**************/

.detail_add_btn {
    text-align: center;
    margin-left: 40px;
}
.card_detail {
    width: 700px;
    height: 500px;
}


/**************
    update
**************/

.update_card {
    background-image: linear-gradient(100deg, #FBD786 10%, #f7797d 100%);
    width: 40rem;
}
.update_form {
    background-image: linear-gradient(300deg, #f5f7fa 10%, #c3cfe2 100%);
}
.update_add_btn {
    margin-left: 250px;
    margin-bottom: 7px;
}


/**************
    delete
**************/

.delete_card {
    background-image: linear-gradient(100deg, #FBD786 10%, #f7797d 100%);
    width: 20rem;
}
.delete_add_btn {
    margin-left: 90px;
}
.confirm_dlt_card {
    background-image: linear-gradient(300deg, #f5f7fa 10%, #c3cfe2 100%);
}
